{
  "extends": "formidable/configurations/es6-node",
  "globals": {
    "describe": true,
    "after": true,
    "it": true
  },
  "rules": {
    "strict": "off",
    "comma-dangle": "off",
    "arrow-parens": "off"
  }
}
